

<h1 style='color: #333;'>Confirm Your Email</h1>

<p>Please click the button below to confirm your email address:</p>

<p>
    <a href="{Url}" style='text-decoration: none;'>
        <button style='background-color: #0094ff; /* Blue */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;'>
            Confirm Email
        </button>
    </a>
</p>

<div style="text-align: center;" >
    <img src="{ImageUrl}" width="400" height="auto" style='margin-top: 10 px;'>
</div>
